
.education-input-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(236, 236, 236);
    height: 30vh;
    width: 50vw;
}

.education-form {
    display: grid;
    grid-template: repeat(2, 33%) / repeat(2, 45%);
    column-gap: 32px;
    row-gap: 16px;
}

.education-display-div {
    display: flex;
    flex-direction: column;
    width: 90%
}

.education-info-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.education-right {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.education-right p {
    font-style: italic;
}

hr {
    width: 100%
}