.job-input-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    width: 50vw;
    background-color: rgb(235, 235, 235);
}

.job-form {
    display: grid;
    grid-template: repeat(2, 33%) / repeat(2, 45%);
    column-gap: 32px;
    row-gap: 16px;
}

.experience-parent {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.experience-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

hr {
    width: 100%;
}